.movies-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.movie-poster {
    background-color: tomato;
    width: 370px;
    height: 550px;
    border-radius: 20px;

    

    
    
}
.card {
    margin: 25px;
    width: 370px;
    height: 730px;
    text-align: center;
    background-color: #E6E1C5;

}